.App {
  text-align: center;
}

#root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #1aad4b;
}

.banner {
  height: 5%;
  font-size: 16px;
  padding: 5px;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  left:0;
  z-index: 1;
}

.mainStyle {
  background-color: #1aad4b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  z-index: 2;
}

.actionsStyle {
  height: 20px;
}

.buttonStyle {
  margin-right: 5px;
  height: 20px;
  width: 70px;
}

.playerStyle .dealerStyle {
  margin-right: 5px;
  height: 100px;
  width: 70px;
  display: block;
}

.handStyle {
  height: 50px;
  display: flex;
}

.cardStyle {
  width: 30px;
  height: 50px;
  margin-right: 3px;
}